.feed-container {
  height: 90lvh;
  overflow-y: scroll;
  position: relative;
  /* cacher la barre de scroll pour Firefox */
  scrollbar-width: none;
  /* cacher la barre de scroll pour Internet Explorer et Edge */
  -ms-overflow-style: none;
  /* cacher la barre de scroll pour Chrome, Safari et Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  .load-more {
    position: relative;
    span {
      position: absolute;
      bottom: 200lvh;
    }
  }
}
