.rating {
  .stars-container {
    display: flex;
    align-items: center;
  }
  img {
    width: 4vw;
    @media screen and (aspect-ratio > 1/1) {
      width: 1.5vw;
    }
    @media screen and (aspect-ratio > 2.6/1) {
      width: 4lvh;
    }
  }
  .reviews {
    display: flex;
    align-items: center;
    gap: 0.8vw;
  }
}
