.promo {
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
    input {
      width: 60%;
      margin-bottom: 0;
      border: 1px solid var(--surface-color);
      border-radius: 2vw;
      padding: 2.5vw;
      background-color: var(--bg-color);
      @media screen and (aspect-ratio > 1/1) {
        border-radius: 0.5vw;
        padding: 0.7vw 0.9vw;
      }
    }
    @media screen and (aspect-ratio > 1/1) {
      gap: 0.8vw;
    }
  }
  > p {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 2vw;
    margin-bottom: 0;
    button {
      background-color: transparent;
      color: var(--danger-color);
      border: 1px solid var(--danger-color);
      &:hover {
        background-color: var(--danger-color);
        color: var(--white-color);
      }
    }
  }
  > div {
    margin-top: 2vw;
    color: var(--success-color);
  }
}
