.store-page {
  position: relative;
  width: 100%;
  margin: 0;
  .category-bg {
    position: fixed;
    width: 100%;
    max-width: 260lvh;
    margin: auto;
    // min-height: 100lvh;
    object-fit: contain;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    background:
      linear-gradient(rgba(253, 245, 234, 0.55), rgba(253, 245, 234, 0.55)),
      var(--cat-bg, none) center / cover no-repeat;
    opacity: 0.5;
  }
}
