.sliderContainer {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70lvh;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer {
    height: 35vw;
    margin-left: 3lvh;
    margin-right: 3lvh;
  }
}
@media screen and (aspect-ratio > 2.6/1) {
  .sliderContainer {
    height: 27vw;
    margin-left: 2lvh;
    margin-right: 2lvh;
  }
}
.sliderContainer .carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}
.sliderContainer .sl {
  transition: translate 1.2s;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  display: flex;
  justify-content: center;
}
.sliderContainer .slMax {
  pointer-events: none;
  width: 100%;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .slMax {
    width: 90%;
  }
}
.sliderContainer .slMax .product-card {
  pointer-events: all;
  margin-top: 2vw;
  width: 60%;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .slMax .product-card {
    width: 25%;
  }
}
@media screen and (aspect-ratio > 2.6/1) {
  .sliderContainer .slMax .product-card {
    width: 25%;
  }
}
.sliderContainer .arrowAndCounter {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1lvh;
  margin-right: 1lvh;
}
.sliderContainer .arrowAndCounter button {
  position: absolute;
  background: var(--primary-color);
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  padding: 1vw;
}
@media screen and (aspect-ratio > 2.6/1) {
  .sliderContainer .arrowAndCounter button {
    height: 3vw;
    width: 3vw;
  }
}
.sliderContainer .arrowAndCounter button img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}
.sliderContainer .arrowLeft {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 7;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
  display: none;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .arrowLeft {
    width: 6vw;
    height: 6vw;
    display: block;
  }
}
.sliderContainer .arrowRight {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 7;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
  display: none;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .arrowRight {
    width: 6vw;
    height: 6vw;
    display: block;
  }
}
.sliderContainer .counter {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  color: black;
}
.sliderContainer .cooldown {
  opacity: 0;
  cursor: default;
  transition: 1s;
}
.sliderContainer .previous {
  transition: 1s;
  translate: -64% 5%;
  z-index: 3;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .previous {
    translate: -32% 5%;
  }
}
.sliderContainer .selected {
  translate: 0%;
  transition: 1s;
  z-index: 5;
}
.sliderContainer .next {
  translate: 64% 5%;
  transition: 1s;
  z-index: 3;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .next {
    translate: 32% 5%;
  }
}
.sliderContainer .prevPrev {
  translate: -64%;
}
.sliderContainer .nextNext {
  translate: 64%;
}
.sliderContainer .dot {
  background-color: var(--white-color);
  width: 8px;
  height: 8px;
  border-radius: 15px;
  margin: 10px;
  z-index: 5;
  border: solid 2px black;
  transition: 0.4s;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .dot {
    width: 12px;
    height: 12px;
  }
}
.sliderContainer .dotSelected {
  background-color: var(--primary-color);
  margin-top: 5px;
  width: 16px;
  height: 16px;
  transition: 0.4s;
}
@media screen and (aspect-ratio > 1/1) {
  .sliderContainer .dotSelected {
    width: 20px;
    height: 20px;
  }
}
.sliderContainer .inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}
@media screen and (aspect-ratio > 2.6/1) {
  .sliderContainer .inner {
    margin: auto;
    width: 90%;
  }
}
.sliderContainer .buttonArrow {
  border: 0px;
  background: none;
}
.sliderContainer .blinded {
  opacity: 0;
}

.sliderField:hover .like {
  right: -10px;
  transition: 1000ms;
  bottom: 10px;
}

.sliderField .like {
  bottom: 10px;
}/*# sourceMappingURL=index.css.map */