.advantages {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--surface-color);
  margin: 2vw;
  margin-top: 5.5vw;
  .advantage-item {
    width: 50%;
    display: flex;
    align-items: flex-start;
    &:nth-child(1) {
      border-bottom: 1px solid var(--text-color-muted);
    }
    &:nth-child(2) {
      border-left: 1px solid var(--text-color-muted);
      border-bottom: 1px solid var(--text-color-muted);
    }
    &:nth-child(4) {
      border-left: 1px solid var(--text-color-muted);
    }
  }
  .advantage-item svg {
    margin: auto 2vw;
    width: 8vw;
    height: 8vw;
    @media screen and (aspect-ratio > 1/1) {
      width: 4vw;
      height: 4vw;
    }
    @media screen and (aspect-ratio > 2.6/1) {
      width: 10.4lvh;
      height: 10.4lvh;
      margin: auto 5.2lvh;
    }
  }
  .advantage-item p {
    margin: auto 2vw;
    @media screen and (aspect-ratio > 2.6/1) {
      margin: auto 5.2lvh;
    }
  }
}
