.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-color);
  box-shadow: 0 2px 4px rgba(40, 68, 193, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 45%;
  overflow: hidden;
  position: relative;
  height: 60lvh;
  background-color: var(--bg-color);

  @media screen and (aspect-ratio > 1/1) {
    width: 18%;
    height: 28vw;
    margin: 0.8%;
    // margin-top: 5vw;
  }
  @media screen and (aspect-ratio > 2.6/1) {
    width: 18%;
    height: 20vw;
  }

  .wishlist-button {
    position: absolute;
    top: 0.5lvh;
    right: 0.5lvh;
    z-index: 1;
    width: 7.5vw;
    height: 7.5vw;

    @media screen and (aspect-ratio > 1/1) {
      width: 2vw;
      height: 2vw;
    }
    @media screen and (aspect-ratio > 2.6/1) {
      width: 1.5vw;
      height: 1.5vw;
    }
  }

  .product-link {
    display: flex;
    flex-direction: column;
    height: 50%;

    @media screen and (aspect-ratio > 1/1) {
      height: 16vw;
    }
    @media screen and (aspect-ratio > 2.6/1) {
      height: 12vw;
    }

    h4 {
      margin-right: 3lvh;
      margin-left: 1lvh;
      margin-bottom: 0;
      /* For text clamping */
      word-break: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .brand-title {
      /* color: var(--primary-color); */
      margin-left: 1lvh;
      margin-bottom: 0;
      font-weight: bolder;
      font-style: italic;
    }

    img {
      width: 100%;
      object-fit: cover;
      margin: auto;
      height: 70%;

      @media screen and (aspect-ratio > 1/1) {
        height: 12vw;
      }
      @media screen and (aspect-ratio > 2.6/1) {
        height: 9vw;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: row;
    margin-left: 1lvh;
    margin-right: 1lvh;
    margin-top: 1vw;
    height: 8vw;

    span {
      width: 50%;
      margin-left: 1px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .stock-status {
      font-size: 1.3vw;

      &-available {
        color: var(--success-color);
      }

      &-unavailable {
        color: var(--danger-color);
      }
    }

    .low-stock {
      color: var(--danger-color);
    }
  }

  button {
    height: 7lvh;
    width: 90%;
    margin: auto;
    margin-bottom: 1lvh;

    @media screen and (aspect-ratio > 1/1) {
      height: 2.5vw;
      margin-bottom: 0.5vw;
    }
    @media screen and (aspect-ratio > 2.6/1) {
      height: 2vw;
      margin-bottom: 0.4vw;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px var(--primary-color);
  }

  select {
    background-color: var(--bg-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 1vw;
    padding-left: 8.5%;
    padding-bottom: 0.5;
  }
}
