.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.2s ease;
  &.modal-closed {
    display: none;
  }

  .modal-content {
    background: var(--bg-color, #fff);
    border-radius: 16px;
    padding: 4lvh;
    //width: 100%;
    // max-width: 420px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: hidden;
    position: relative;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.25s ease;
    > :nth-child(2) {
      margin-top: 7lvh;
    }
  }
  .modal-close-btn {
    position: absolute;
    top: 1lvh;
    right: 1lvh;
    // padding: 2lvh;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 5lvh;
    color: var(--text-color, #333);
  }
  .modal-loader {
    display: flex;
    justify-content: center;
    //margin-top: 6vw;
    align-items: center;
    //height: 100px;
    height: 40lvh;
    font-weight: 500;
    color: var(--text-color);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(24px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
