@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
}
.header .margin {
  height: 10lvh;
  transition: height 0.25s ease;
}
.header .content {
  height: 10lvh;
  position: fixed;
  z-index: 10;
  /* Utilisation de l'unité vw pour le filtre de flou */
  backdrop-filter: blur(0.5vw);
  /* Utilisation de la variable de couleur globale */
  background-color: var(--color-background);
  top: 0;
  width: 100%;
  max-width: 260lvh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: height 0.25s ease;
}
.header .content .menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header .content .menu .header-logo {
  height: 100%;
}
.header .content .menu .header-actions {
  justify-content: flex-end;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .content .menu .header-actions * {
  margin: 0 1%;
}
.header .content .menu .header-actions .header-icon {
  font-size: 6lvh;
  min-width: 6%;
}
.header .content .menu .header-actions .header-icon .header-icon-img {
  display: block;
  width: 1em;
  height: 1em;
}
.header .content .menu .header-actions .header-wishlist-link {
  position: relative;
}
.header .content .menu .header-actions .header-wishlist-link span {
  position: absolute;
  top: 0;
  right: 0;
}
.header .content .menu .header-actions .header-cart-link {
  position: relative;
}
.header .content .menu .header-actions .header-cart-link span {
  position: absolute;
  top: 0;
  right: 0;
}
.header .content .menu .header-actions .autocomplete input {
  height: 100%;
}
.header .content .menu .header-actions button {
  height: 8lvh;
  margin-left: 1lvh;
  margin-right: 1lvh;
}
.header .content .menu .header-close {
  display: none;
}
.header .content .menu .header-burger {
  display: none;
}
.header .content .menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.header .content .menu nav a {
  margin: 0 3lvh;
}
.header.header-hidden .margin {
  height: 0;
}
.header.header-hidden .content {
  height: 0;
  overflow: hidden;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 2vw;
}
@media screen and (aspect-ratio > 1/1) {
  .header-logo {
    gap: 0.5vw;
  }
}

.header-logo img {
  height: 100%;
  margin-left: 1vw;
}
@media screen and (aspect-ratio > 1/1) {
  .header-logo img {
    margin-left: 0.5vw;
  }
}

.header-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.header-logo-text strong {
  font-family: "PlayfairDisplay", serif;
  font-size: 6vw;
  font-weight: 400;
  letter-spacing: 0.2vw;
  color: var(--color-text-main);
}
@media screen and (aspect-ratio > 1/1) {
  .header-logo-text strong {
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
  }
}
@media screen and (aspect-ratio > 2.6/1) {
  .header-logo-text strong {
    font-size: 2.8lvh;
  }
}

.header-logo-text small {
  margin-top: 1vw;
  font-family: "PoppinsCustom", sans-serif;
  font-size: 2vw;
  font-weight: 200;
  letter-spacing: 0.1vw;
  color: var(--color-text-muted);
}
@media screen and (aspect-ratio > 1/1) {
  .header-logo-text small {
    font-size: 0.7vw;
    margin-top: 0.4vw;
    white-space: nowrap;
  }
}
@media screen and (aspect-ratio > 2.6/1) {
  .header-logo-text small {
    font-size: 1lvh;
  }
}/*# sourceMappingURL=index.css.map */