.wishlist-button {
  border: 1px solid var(--dark-color);
  cursor: pointer;
  width: 2vw;
  height: 2vw;
  @media screen and (aspect-ratio > 2.6/1) {
    width: 5.2lvh;
    height: 5.2lvh;
  }
  background-color: var(--bg-color);
  border-radius: 100%;
  margin: auto;
  padding: 3px;
}

.wishlist-button.active {
  animation: wishlist-pop 0.2s ease-in-out;
}

@keyframes wishlist-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
